@charset "utf-8";

body{
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(217, 220, 223);
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner{
    background-color: white;
    padding: 50px;
}

.btn{
    border: none;
    background-color: red;
    color: white;
    transition: 0.5s;
    padding: 10px 20px 10px 20px;
    border-radius: 1px;
}

.btn:hover{
    color: black;
    background-color: rgb(169, 169, 169);
    transition: 0.5s;
}
