@charset "utf-8";

body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(217, 220, 223);
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: white;
    padding: 50px;
}

img {
    width: 420px;
    height: 240px;
}

.btn {
    border: none;
    background-color: white;
    color: black;
    transition: 0.5s;
    padding: 10px 20px 10px 20px;
    border-radius: 1px;
}

.btn:hover {
    color: black;
    background-color: rgb(169, 169, 169);
    transition: 0.5s;
}

.site {
    display: none;
}

.home{
    padding: 5px;
    background-color: rgb(218, 218, 218);
    padding: 0;
}

a{
    text-decoration: none;
}



@media (max-width: 865px) {

    body {
        margin: 0;
        overflow-x: hidden;
    }

    img {
        width: 100%;
    }

    .home{
        display: flex;
        justify-content: right;
    }
    .btn {
        border: none;
        background-color: white;
        color: black;
        transition: 0.5s;
        padding: 5px 10px 5px 10px;
        border-radius: 1px;
    }
    
    .btn:hover {
        color: black;
        background-color: rgb(169, 169, 169);
        transition: 0.5s;
    }
}